.ngx-ez-table__filter {
    input {
        -webkit-appearance: none;
        -moz-appearance: none;
        background: #fff none;
        border: 0.05rem solid #ddd;
        border-radius: .2rem;
        color: #50596c;
        display: block;
        font-size: .8rem;
        height: 1.5rem;
        line-height: 1.5rem;
        max-width: 100%;
        outline: 0;
        padding: .15rem .3rem;
        position: relative;
        width: 97%;
    }
}
